//Farbpalette
$accent:#702222 ;
$secondary-color: #461111;
$secondary-color2: rgba(36,0,6,1);
$container-color: #4611113b;
$accent-word: #f1945e;

$Background:#1f201e;


//normal Colors
$red: rgb(150, 11, 11);
$green: rgb(20, 107, 20);

//Normal Colors
$white: #ffffff;
$grey: #454545;
$black: #000000;

// cursor
$outer-cursor: rgba(255, 166, 0, 0.632);

// Scrollbar
$backgroundscrollbar: rgba(0, 0, 0, 0.1);

// box-shadow 
$box-shadow: rgba(0, 0, 0, 0.1);
$box-shadow2: rgba(0, 0, 0, 0.05);

// Border Color
$border-color: rgba(255,255,255,0.1);