h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 18px;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: #1f201e;
  color: #ffffff;
  cursor: none;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: right;
}

img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  max-width: 100%;
  height: 212px;
  object-fit: cover;
}

.wrapper {
  display: flex;
  overflow: auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.wrapper-column {
  flex-direction: column;
}

.wrapper-row {
  flex-direction: row;
}

.container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(57, 57, 57, 0.339), rgba(58, 14, 14, 0.297)), url(file:///C:/Jonas/Schule/Atomic%20Design/assets/picture/pic_01.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-right: 8%;
  padding-left: 8%;
}

.container2 {
  width: 100%;
  padding-right: 8%;
  padding-left: 8%;
}

.accent {
  color: #f1945e;
}

a {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  transition: all 0.15s ease-out 0s;
}
a:hover, a:focus {
  color: #f1945e;
}

button {
  width: 200px;
  padding: 18px 0;
  font-size: 18px;
  border: 0;
  outline: 0;
  background: transparent;
  border-radius: 30px;
  color: #ffffff;
  font-size: x-large;
  margin: 4em 0;
  border: 2px solid #454545;
  transition: all 0.15s ease-out 0s;
}

.primary {
  background: linear-gradient(196deg, rgb(36, 0, 6) 0%, #461111 41%, #702222 100%);
  color: #ffffff;
  transition: all 0.15s ease-out 0s;
  border: 2px solid #461111;
  box-shadow: 9px 12px 25px -5px rgba(70, 17, 17, 0.8);
}
.primary:hover {
  border: 2px solid #702222;
  transition: all 0.15s ease-out 0s;
}
.primary:active {
  transform: translate3d(0, 4px, 5px);
}

.secondary {
  border: 2px solid #461111;
  transition: 1s;
  box-shadow: 9px 12px 25px -5px rgba(70, 17, 17, 0.8);
}
.secondary:hover {
  border: 2px solid #702222;
  transition: all 0.15s ease-out 0s;
}
.secondary:active {
  transform: translate3d(0, 4px, 5px);
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 5em 0;
  padding: 20px;
}

.column {
  padding: 20px 10px;
  box-sizing: border-box;
  flex-grow: 0;
}

.fit-height {
  height: 100%;
}

@media (min-width: 0) {
  .col-1-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 8.3333333333%;
  }
  .col-2-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 16.6666666667%;
  }
  .col-3-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 25%;
  }
  .col-4-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 33.3333333333%;
  }
  .col-5-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 41.6666666667%;
  }
  .col-6-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 50%;
  }
  .col-7-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 58.3333333333%;
  }
  .col-8-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 66.6666666667%;
  }
  .col-9-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 75%;
  }
  .col-10-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 83.3333333333%;
  }
  .col-11-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 91.6666666667%;
  }
  .col-12-xs {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 8.3333333333%;
  }
  .col-2-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 16.6666666667%;
  }
  .col-3-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 25%;
  }
  .col-4-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 33.3333333333%;
  }
  .col-5-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 41.6666666667%;
  }
  .col-6-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 50%;
  }
  .col-7-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 58.3333333333%;
  }
  .col-8-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 66.6666666667%;
  }
  .col-9-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 75%;
  }
  .col-10-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 83.3333333333%;
  }
  .col-11-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 91.6666666667%;
  }
  .col-12-sm {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 8.3333333333%;
  }
  .col-2-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 16.6666666667%;
  }
  .col-3-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 25%;
  }
  .col-4-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 33.3333333333%;
  }
  .col-5-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 41.6666666667%;
  }
  .col-6-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 50%;
  }
  .col-7-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 58.3333333333%;
  }
  .col-8-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 66.6666666667%;
  }
  .col-9-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 75%;
  }
  .col-10-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 83.3333333333%;
  }
  .col-11-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 91.6666666667%;
  }
  .col-12-md {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 8.3333333333%;
  }
  .col-2-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 16.6666666667%;
  }
  .col-3-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 25%;
  }
  .col-4-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 33.3333333333%;
  }
  .col-5-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 41.6666666667%;
  }
  .col-6-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 50%;
  }
  .col-7-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 58.3333333333%;
  }
  .col-8-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 66.6666666667%;
  }
  .col-9-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 75%;
  }
  .col-10-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 83.3333333333%;
  }
  .col-11-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 91.6666666667%;
  }
  .col-12-lg {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 8.3333333333%;
  }
  .col-2-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 16.6666666667%;
  }
  .col-3-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 25%;
  }
  .col-4-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 33.3333333333%;
  }
  .col-5-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 41.6666666667%;
  }
  .col-6-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 50%;
  }
  .col-7-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 58.3333333333%;
  }
  .col-8-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 66.6666666667%;
  }
  .col-9-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 75%;
  }
  .col-10-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 83.3333333333%;
  }
  .col-11-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 91.6666666667%;
  }
  .col-12-xl {
    padding: 20px 15px;
    box-sizing: border-box;
    flex-grow: 0;
    margin: 10px;
    backdrop-filter: blur(30px);
    width: 100%;
  }
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  min-width: 500px;
  overflow-x: auto;
  table-layout: fixed;
  background: rgba(70, 17, 17, 0.231372549);
  backdrop-filter: blur(30px);
}
.content-table thead tr {
  background-color: rgba(70, 17, 17, 0.231372549);
  text-align: left;
}
.content-table th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}
.content-table td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.content-table td:hover {
  background-color: rgb(118, 74, 4);
}

thead {
  background: linear-gradient(120deg, rgb(36, 0, 6) 0%, #461111 49%, #702222 150%);
}

.card {
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  margin: 10px 15px;
}

.box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-out 0s;
}
.box:nth-child(1):before, .box:nth-child(1):after {
  background: linear-gradient(315deg, #9b4300, #5e0121);
}
.box .span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}
.box .span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  backdrop-filter: blur(10px);
  transition: 0.5s;
  animation: animate3 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation-delay: -1s;
}
.box .span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  backdrop-filter: blur(10px);
  transition: 0.5s;
  animation: animate3 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.box:hover .span::after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}
.box:hover .span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}
.box:hover:before, .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  transition: all 0.15s ease-out 0s;
}
.box:after {
  content: "";
  position: absolute;
  top: 79px;
  left: 50px;
  width: 30%;
  height: 70%;
  border-radius: 8px;
  transform: skewX(35deg);
  filter: blur(70px);
  transition: all 0.15s ease-out 0s;
}
.box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  color: white;
  z-index: 1;
  transition: all 0.15s ease-out 0s;
}
.box .content h2 {
  margin-bottom: 10px;
  transition: all 0.15s ease-out 0s;
}
.box:hover .content {
  left: -25px;
  padding: 60px 40px;
  transition: all 0.15s ease-out 0s;
}

@keyframes animate3 {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.list__number {
  font-size: 10vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  color: #702222;
  transition: all 0.15s ease-out 0s;
}

.list__content {
  border-top: 2px solid #ffffff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}
.list__content .story {
  line-height: 26px;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}

.cursor--small {
  width: 55px;
  height: 55px;
  left: -26.5px;
  top: -26.5px;
  border: 2px solid rgba(255, 166, 0, 0.632);
  border-radius: 50%;
  z-index: 11000;
}
.cursor--small:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18.5px;
  top: 18.5px;
  border-radius: 50%;
  background: #972e2e;
}

.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}

.scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

.progressbar {
  position: fixed;
  top: 0;
  right: 5px;
  width: 10px;
  background: linear-gradient(to top, #982525, #220a0a);
}
.progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #982525, #220a0a);
  filter: blur(10px);
}
.progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #982525, #220a0a);
  filter: blur(10px);
}

.navbar {
  height: 0%;
  display: flex;
  align-items: center;
  margin-top: 28px;
}

.logo {
  width: 150px;
  height: 150px;
  cursor: pointer;
  position: absolute;
}

.menu-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 40px;
  opacity: 0;
  transition: all 0.15s ease-out 0s;
}
@media (max-width: 700px) {
  .menu-icon {
    opacity: 1;
  }
}

nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
}
@media (max-width: 700px) {
  nav ul li {
    opacity: 0;
  }
}

section {
  width: 100%;
  height: 100%;
  margin: 40px 0;
  margin-bottom: 100px;
}

.section-start {
  width: 100%;
  height: 100%;
  margin: 40px 0;
  margin-bottom: 100px;
}

.section-liste {
  height: 100%;
}

.section__formular {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #702222, #461111);
}

.container__formular {
  position: relative;
  width: 400px;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.container__formular .sqaure {
  position: absolute;
  backdrop-filter: blur(60px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.container__formular .sqaure:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}
.container__formular .sqaure:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.form .valid .indicator {
  background: rgb(20, 107, 20);
}
.form .invalid .indicator {
  background: rgb(150, 11, 11);
}
.form .indicator {
  position: absolute;
  right: 50px;
  margin: 12px;
  width: 10px;
  height: 10px;
  background: #555;
  border-radius: 50%;
}
.form h2 {
  position: relative;
  color: #ffffff;
  margin-bottom: 40px;
}
.form h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #ffffff;
}
.form .inputbox {
  width: 100%;
  margin-top: 20px;
}
.form .inputbox input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  color: #ffffff;
}
.form .inputbox input::placeholder {
  color: #ffffff;
}
.form .inputbox input[type=submit] {
  max-width: 100px;
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
