@use '../01_abstracts/' as *;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, 
*::before,
*:after {
    box-sizing: inherit;
}
::-webkit-scrollbar {
    width: 0;
}
body {
    background-color: $Background;
    color: $white;
    cursor: none;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: right;
}

img {
   @include fullImage ;
}
.wrapper {
    display: flex;
    overflow: auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}
.wrapper-column {
    flex-direction: column;
}

.wrapper-row {
    flex-direction: row;
}
.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(57, 57, 57, 0.339), rgba(58, 14, 14, 0.297)),url(file:///C:/Jonas/Schule/Atomic%20Design/assets/picture/pic_01.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
}

.container2 {
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
}

.accent {
    color: $accent-word;
}